@import '../../scss/vendor';

:host {
	display: flex;
	flex-grow: 3;
}


.mast-head-nav{
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:$toolBarHeight;
	z-index:$z-index-toolbar;
}

