
$body-black:#1e1e1e;
$very-dark-gray: #485156;
$nav-color: #3e464c;
$steel-white:#DBDBDB;
$dusty-white: #f5f1f5;
$baby-powder:#fefefe;

$noc-color:#0082CB; //n;
$perlblue-color:#03568F;
$corn-color:#F1DB5A;
$sonic-color:#7FFF19;
$dry-color:#BFB405;
$soil-color:#522B11;
$dirt-color:#A88A6E;
$rnb-color:#7D0066;
$rock-color: #D73117;
$rock-indie-color: #FF4000;
$rock-poprock-color: #FF0262;

$defaultToolBarHeight: 64px;
$border-reg-color: #7d7d7d;
$cream-custard: #f3efe0;
$input-color:#c4c4c4;

