$font-family: 'Lato', sans-serif !default;
$font-size:   10px;

$font-family-roboto: 'Roboto', sans-serif;
$font-family-rochester: 'Rochester', cursive;
$font-family-pacifico: 'Pacifico', cursive;
$font-family-aref: 'Aref Ruqaa', serif;
$font-size-cursive:   30px;


