<!-- ngrx smart-container-->
<div class="flex-container nav-container" fxFlexFill>
    <md-toolbar class="flex-item md-mainNav-theme fixed-masthead-nav">
        <div fxLayout="row"  fxFlex="100">
            <div fxLayout="column" fxFlex="25">
                <a  class="nav-link"
                    md-button
                    routerLink='/'
                    routerLinkActive="active-btn"
                    [routerLinkActiveOptions]="{exact:true}">
                    Angular X (4.1.0) Demo
                </a>
            </div>
            <div fxLayout="column" fxFlex="75">
                <nav  fxLayout="row" fxLayoutAlign="end center">
                    <a  *ngIf='(hasLoggedInUser$  | async) == 1'
                        class="nav-link"
                        md-button
                        routerLink='/surprise'
                        routerLinkActive="active-btn">
                        Surprise

                    </a>
                    <a  *ngIf='(hasLoggedInUser$  | async) == 1'
                        class="nav-link"
                        md-button
                        routerLink='{{ myName }}'
                        routerLinkActive="active-btn"
                        [routerLinkActiveOptions]="{exact:true}">
                        Your Profile
                    </a>
                    <button  *ngIf='(hasLoggedInUser$  | async) == 0'
                             fxFlex="20%"
                             md-button
                             (click)="requestLogin()">Log In
                    </button>
                    <button  *ngIf='(hasLoggedInUser$  | async) == 1'
                             fxFlex="20%"
                             md-button
                             class="flex-item login-button"
                             (click)="requestLogout()">Log Out
                    </button>
                </nav>
            </div>
        </div>
    </md-toolbar>
</div>
