 <div fxFlex fxLayout="row"  fxLayoutAlign="center center">
        <md-card class="reg-card" fxFlex fxLayout="column"  fxLayoutAlign="center center">
           <md-card-header>
              <md-card-title class="reg-card-title">
                    <h1> Sign Up:</h1>
              </md-card-title>
           </md-card-header>
           <md-card-content >
              <form novalidate (ngSubmit)="onSubmit(newUser)"  [formGroup]="newUser" fxFlex fxLayout="column"  fxLayoutAlign="center center">
                  <div class="reg-new-user" formGroupName="name">
                      <md-input-container class="reg-input-container">
                          <input mdInput
                                 autofocus
                                 type="text"
                                 id="username"
                                 (focusout)="onUserNameOutFocused()"
                                 (keyup)="onUserNameKeyedUp()"
                                 formControlName="username">
                          <md-placeholder class="reg-placeholder-label">Create a Username</md-placeholder>
                      </md-input-container>
                      <control-messages [control]="newUser.controls.name.controls.username"></control-messages>
                      <div class="error" *ngIf="userNameAttempt && !validUserName">
                              This username is already in use!
                      </div>
                      <br>
                  </div>
                    <div class="reg-new-user" formGroupName="user">
                          <md-input-container #pwContainer class="reg-input-container">
                              <input mdInput
                                     #password
                                     id="password"
                                     name="password"
                                     type="text"
                                     formControlName="password">
                              <md-placeholder class="reg-placeholder-label">Create a Password</md-placeholder>
                          </md-input-container>
                          <control-messages [control]="newUser.controls.user.controls.password"></control-messages>
                          <br>
                          <md-input-container class="reg-input-container">
                              <input  mdInput
                                      type="text"
                                      formControlName="firstname">
                              <md-placeholder class="reg-placeholder-label">Your first name</md-placeholder>
                          </md-input-container>
                          <control-messages [control]="newUser.controls.user.controls.firstname"></control-messages>
                          <br>
                          <md-input-container class="reg-input-container">
                              <input  mdInput
                                      type="text"
                                      formControlName="lastname">
                              <md-placeholder class="reg-placeholder-label">Your last name</md-placeholder>
                          </md-input-container>
                          <control-messages [control]="newUser.controls.user.controls.lastname"></control-messages>
                    </div>
                    <div class="reg-new-user" formGroupName="account">
                          <md-input-container class="reg-input-container">
                              <input  mdInput
                                      type="text"
                                      formControlName="email">
                              <md-placeholder class="reg-placeholder-label">Your email address</md-placeholder>
                          </md-input-container>
                          <control-messages [control]="newUser.controls.account.controls.email"></control-messages>
                          <br>
                          <md-input-container class="reg-input-container">
                              <input  mdInput
                                      type="text"
                                      formControlName="confirm">
                              <md-placeholder class="reg-placeholder-label">Confirm your email address</md-placeholder>
                          </md-input-container>
                          <control-messages [control]="newUser.controls.account.controls.confirm"></control-messages>
                          <div class="error" *ngIf="newUser.get('account').touched && newUser.get('account').hasError('nomatch')">
                              Email addresses must match
                          </div>
                          <br>
                          <br>
                    </div>
                    <br>
                    <br>
                  <div>
                     <button md-raised-button class="reg-btn" type="submit" [disabled]="((!validUserName) || (!newUser.valid))">Sign up</button>
                  </div>
              </form>
            </md-card-content>
       </md-card>
 </div>