
@import '../scss/vendor';

@import "seed-main.css";

@import '../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  background-color:$dirt-color;
  backgroundcolor:$dirt-color;
  font-family:$font-family;
  font-size: 16px;

  @include  radial-gradient(lighten($dirt-color, 15%), $dirt-color,radial);
  background-repeat:no-repeat;

}

/* Set up a default font and some padding to provide breathing room */


p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}



md-dialog-container.mat-dialog-container,
.mat-dialog-container {
  background: transparent;
  background-color: transparent;
  box-shadow:none;
}


.mat-input-placeholder{
     .mat-focused & {
      color: $corn-color;
    }
}

 .mat-focused .mat-input-placeholder.mat-float {
    .mat-placeholder-required {
      color: $corn-color;
    }
 }


.reg-card .reg-input-container,
.login-dialog .login-input-container{
  .mat-input-placeholder.mat-focused {
      color: $corn-color;
  }
  .mat-input-placeholder.mat-focused {
      color: $corn-color;
  }

  .mat-input-underline .mat-input-ripple {
      background-color: $corn-color;
  }

}

.login-dialog {
  .mat-slide-toggle-thumb {
      background-color: $corn-color;
  }
}